<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link rel="manifest" href="manifest.json">

    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>
    <script src="js/jquery-2.1.1.min.js"></script>
    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="starter">

    <ion-pane ng-controller="DetailCtrl">
      <!-- 购物车 -->
      <ion-header-bar class="bar-dark">
        <h1 class="title">购物车</h1>
      </ion-header-bar>
      <ion-content>
          <!-- 编辑商品 -->
          <div class="edit-wrapper" ng-if="hasProduct">
              <span class="edit-product" ng-click="editProduct()" ng-hide="isEdit">编辑商品</span>
              <span class="edit-product" ng-click="editFinish()" ng-if="isEdit">完成</span>
          </div>
          <!-- 无商品 -->
          <p class="shopcart_bar"  ng-hide="hasProduct">购物车内还没商品哦，去逛逛吧~</p>
          <!-- 有商品 -->
          <ion-list class="shop-list" ng-if="hasProduct" >
              <ion-item class="carttitle"><label class="checkbox checkbox-assertive" >
                  <input type="checkbox" ng-checked="selectAll" ng-click="checkAll()">
              </label>京东自营</ion-item>
              <!-- 购物车列表 -->
              <ion-list class="product-list" ng-repeat="shop in shoplist">
                  <ion-item>
                      <label class="checkbox checkbox-assertive product-check"  >
                          <input type="checkbox" ng-checked="shop.checked" ng-click="isSelect({{shop.id}})">
                      </label>
                      <img class="cartImg" ng-src="{{shop.image}}">
                      <div class="product-content">
                        <p class="product-name">{{shop.name}}</p>
                        <p class="product-price">￥<em>{{shop.price}}</em></p>
                        <div class="numWrap">
                            <span ng-click="minus1({{shop.id}})" class="minus"><i class="icon ion-minus-round"></i></span>
                            <span id="buyNum" class="count-text">{{shop.num}}</span>
                            <span ng-click="plus1({{shop.id}})"  class="plus"><i class="icon ion-plus-round"></i></span>
                        </div> 
                      </div>
                  </ion-item>
              </ion-list>
          </ion-list>
          <div class="myrecommend"  ng-hide="isEdit">
            <div class="shopcart_mod_title">
              <span class="shopcart_mod_title_text">可能你想要</span>
            </div>
            <!-- 推荐商品列表 -->
            <ion-list ng-controller="ProductCtrl">      
              <ion-item class="product-item" ng-repeat="product in products">
                  <img ng-src="{{product.image}}" class="product-image">
                  <p class="product-name">{{product.name}}</p>
                  <p class="product-price">￥<em>{{product.price}}</em></p>
                  <div class="buy" ng-click="showDetail({{product.id}})"></div>
              </ion-item>
            </ion-list>
          </div>
          <!-- 商品信息 -->
          <div class="detail-main detail-main-show" ng-hide="myDetail" id="detail-bg">
            <div class="product-detail-main" id="detail-box">
              <div class="detail-header">
                  <img alt="商品图" class="avt" ng-src={{productItem.image}}>
                  <p class="price">￥<em>{{productItem.price}}</em></p>
                  <p class="prop">
                    <span>已选</span>
                    {{myNum}}个
                  </p>
                  <i class="close" ng-click="hide()"></i>
              </div>
              <div class="detail-body">
                <div class="count-wapper">
                  <div class="countChoose">
                      <span id="minusNum" ng-click="minus()" class="minus"><i class="icon ion-minus-round"></i></span>
                      <span id="buyNum" class="count-text">{{myNum}}</span>
                      <span id="plusNum" ng-click="plus()"  class="plus"><i class="icon ion-plus-round"></i></span>
                  </div> 
                  <span class="title">数量</span>
                </div>
              </div>
              <button class="button button-full button-assertive detail-button" ng-click="addProduct()">
                  加入购物车
                </button>
            </div>
          </div>
      </ion-content>
      <!-- 总计 -->
      <ion-footer-bar align-title="left" class="bar-stable" ng-if="hasProduct&&myDetail"  ng-hide="isEdit">
          <label class="checkbox checkbox-assertive select-all">
              <input type="checkbox" ng-checked="selectAll" ng-click="checkAll()">
              <span >全选</span>
          </label>
        
        <div class="total">
          <span class="total-price">总计：<em>￥{{sum}}</em></span>
          <button class="button button-assertive" >去结算</button>
        </div>
      </ion-footer-bar>
      <!-- 删除商品 -->
      <ion-footer-bar align-title="left" class="bar-stable" ng-if="isEdit">
          <label class="checkbox checkbox-assertive select-all">
              <input type="checkbox" ng-checked="selectAll" ng-click="checkAll()">
              <span >全选</span>
          </label>       
        <div class="total">
          <button class="button button-energized" ng-click="deleteProduct()">删除</button>
        </div>
      </ion-footer-bar>
    </ion-pane>
  </body>
</html>
